<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom  d-flex align-items-center justify-content-center font-weight-bold">To-Do-list of <%= name %></div>

<div class="list-group list-group-flush bg-info">
    <a class="list-group-item list-group-item-action list-group-item-light p-4 bg-secondary text-white font-weight-bold text-uppercase" href="/dashboard">
        <i class="fa-solid fa-house"></i>  Home</a>

    <a class="list-group-item list-group-item-action list-group-item-light p-4 bg-secondary text-white font-weight-bold text-uppercase" href="/dashboard/user">
        <i class="fa-solid fa-address-card"></i>  user</a>

    <a class="list-group-item list-group-item-action list-group-item-light p-4 bg-secondary text-white font-weight-bold text-capitalize" href="/dashboard/working">
        <i class="fa-solid fa-landmark"></i>  Working</a>

    <a class="list-group-item list-group-item-action list-group-item-light p-4 bg-secondary text-white font-weight-bold text-capitalize" href="/dashboard/healthy">
        <i class="fa-solid fa-heart"></i>  Health</a>
    
    <a class="list-group-item list-group-item-action list-group-item-light p-4 bg-secondary text-white font-weight-bold text-capitalize" href="/dashboard/travel">
        <i class="fa-solid fa-plane"></i>  Travel</a>
    
    <a class="list-group-item list-group-item-action list-group-item-light p-4 bg-secondary text-white font-weight-bold text-capitalize" href="/dashboard/personnal">
        <i class="fa-solid fa-masks-theater"></i>  Personal Growth</a>

    <a class="list-group-item list-group-item-action list-group-item-light p-4 bg-secondary text-white font-weight-bold text-capitalize" href="/dashboard/money">
            <i class="fa-solid fa-piggy-bank"></i>  Money Management</a>

    <a class="list-group-item list-group-item-action list-group-item-light p-4 bg-secondary text-white font-weight-bold text-capitalize" href="/logout">
        <i class="fa-solid fa-right-from-bracket"></i>  logout</a>
    <div  class="list-group-item list-group-item-action list-group-item-light bg-secondary" style="padding: 50%;"></div>
    <div  class="list-group-item list-group-item-action list-group-item-light bg-secondary" style="padding: 15%;"></div>
    <div  class="list-group-item list-group-item-action list-group-item-light bg-secondary" style="padding: 33%;"></div>
    <div  class="list-group-item list-group-item-action list-group-item-light bg-secondary" style="padding: 20%;"></div>
    <div  class="list-group-item list-group-item-action list-group-item-light bg-secondary" style="padding: 20%;"></div>
    <div  class="list-group-item list-group-item-action list-group-item-light bg-secondary" style="padding: 50%;"></div>
    <div  class="list-group-item list-group-item-action list-group-item-light bg-secondary" style="padding: 15%;"></div>
</div>

</div>